@import '../theme';

.square {
	background: white;
	// border: 1px solid crimson;
	border: 3px solid $color-primary-100;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	height: 50px;
	width: 50px;
	color: $color-primary-600;

	&X {
		@extend .square;
		background-color: rgba($color-primary-600, 0.5);
		color: white;
	}
	&O {
		@extend .square;
		background-color: rgba($color-primary-600, 0.2);
		color: red;
	}
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}
